body {
  margin: 0px;
}

canvas {
  background-color: rgb(70, 70, 70);
}

img {
  display: file:///home/chronos/u-1b140b2cc5fb7cda1823e3cd58bc4a9724c3d7c8/MyFiles/Downloads/Krooked%20Eyes%20Sticker.png; 
}
